html {
    background: white;
    font-family: Arial;
	font-size: 16px;
}

body {
    margin: 0px;
}

header nav {
    background-color: #6D6D6D;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

#topnav {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

#topnav li{
    width: 50%;
    padding-top: 0.3em;
}

#topnav li a{
    color: #fff;
    text-decoration: none;
}

#topnav .mobileline{
    width: 100%;
    padding-top: 0;
}

#topnav .mobileline div{
    background-color: #fff;
    height: 0.2em;
    border-radius: 0.2em;
}

#topnav li a:hover{
    color: #000;
}

#topnav li:nth-child(3n+2){
    text-align: right;
}

#menue {
    display: block;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1em;
    margin-right: 1em;
}

h1 {
    font-size: 24px;
}

main div {
    width: 100%;
    word-wrap: break-word;
}

.pdfButton {
    border-style: solid;
    border-color: #6D6D6D;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    margin-top: 1em;
    flex-wrap: wrap;
}

.pdfButton h1 {
    color: black;
    margin-right: 1em;
}

main div ul {
    padding: 0px;
    list-style: none;
}

.pdfButton {
    border-style: solid;
    border-color: black;
    padding: 0.5em;
}

.pdfButton:hover {
    color: white;
    background-color: black;
}